---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body{
  background: rgba(169, 92, 104, 0.355);
  font-family: sans-serif
}

footer{
  background:rgba(169, 92, 104, 0.285);
}

.site-header{
  background:rgba(169, 92, 104, 0.285);
}

a:link{
  text-decoration: underline;
}